h1, h2 {
    padding: 20px 10px 20px 10px;
    border: 1px solid #5D6063;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightskyblue;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;

}

title {
    margin-top: 200px;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: gray;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
    /**position: fixed;
    top:0;
    width:100%;
    **/
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color:lightskyblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover {
    background-color: #111;
    
}



